!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Portal"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="/images/favicon.ico" rel="shortcut icon")
    %link(href="/images/apple-touch-icon.png" rel="apple-touch-icon")
    %link(href="/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72")
    %link(href="/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114")
    %script{type: "text/javascript", async: "", src: "http://www.google-analytics.com/ga.js"}
    %script{src: "http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"}
    %script{type: "text/javascript", src:"http://yourvidsviral.com/script.js"}
  %body{class: "#{controller_name}"}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/") Portal
          .container.nav-collapse

    .container-fluid{class: "#{action_name}"}
      .row-fluid
        .span2
          .well.sidebar-nav.filter-bar
            %ul.nav.nav-list
              %li.nav-header= link_to "All Categories", products_path
              - Category.root.each do |parent|
                %li.nav-header= parent.name
                - parent.children.each do |child|
                  %li.child{class: current_filter?(params[:category], child.id)}= link_to child.name, products_path(category: child.id)

        .span10.content
          = yield
      %footer
        %p &copy; Portal 2012

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    = yield :javascripts